.Resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-left: -0.5em;
    flex-wrap: wrap;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 90%;
}

.header h2{
    font-weight: 500;
    color: var(--text-secondary);
}

.header button{
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    font-size:0.8em;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.header button:hover{
    background-color:var(--text-secondary);
    color: var(--bg-secondary);
}

.rpv-core__inner-page {
    background-color: var(--bg-primary);
}

@media (max-width: 768px),(max-width: 1264px){
    .Resume{
        max-width: 100%; 
    }   
}